{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}

<div class ="container">
<div class="left50">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th colspan=7> Varsity Team Break </th>
        </tr>
        <tr>
                <th>#</th><th>Team Name</th><th>Wins</th><th>Ranks - OW</th><th>Speaks</th><th>Ranks</th><th>Opp Wins</th>
        </tr>    
        {% for team,wins,ranks_minus_opp_wins,speaks,ranks,opp_strength in varsity %}
        <tr>
            <td> {{forloop.counter}} </td>
            <td> <a href="/team/{{team.id}}">{{team.name}}</a></td>
            <td> {{wins}}</td>
            <td> {{ranks_minus_opp_wins}}</td>
            <td> {{speaks|floatformat:2}}</td>
            <td> {{ranks|floatformat:2}}</td>
            <td> {{opp_strength|floatformat:2}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="right50">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th colspan=7>Novice Team Break</th> 
        </tr>
        <tr>
                <th>#</th><th>Team Name</th><th>Wins</th><th>Ranks - OW</th><th>Speaks</th><th>Ranks</th><th>Opp Wins</th>
        </tr>    
        {% for team,wins,ranks_minus_opp_wins,speaks,ranks,opp_strength in novice %}
        <tr>
            <td> {{forloop.counter}} </td>
            <td> <a href="/team/{{team.id}}">{{team.name}}</a></td>
            <td> {{wins}}</td>
            <td> {{ranks_minus_opp_wins}}</td>
            <td> {{speaks|floatformat:2}}</td>
            <td> {{ranks|floatformat:2}}</td>
            <td> {{opp_strength|floatformat:2}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}


